# Ejercicio de programación Regresión Lineal Multiple

In [ ]:

import os

import numpy as np

from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D

%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# Cargar datos
data = np.loadtxt('/content/gdrive/MyDrive/SIS420/midataset/Maintenance Naval Vessel.csv', delimiter=',')
X = data[:, :7]  # Selecciona las primeras 17 columnas como características
y = data[:, 7]   # La última columna como etiqueta
m = y.size
print("Tamaño de etiquetas:", m)

# Imprimir algunos puntos de datos
print('{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}{:>8s}'.format('X[:,0]','X[:, 1]', 'X[:, 2]','X[:, 3]','X[:, 4]','X[:, 5]','X[:, 6]','X[:, 7]','X[:, 8]','X[:, 9]','X[:, 10]','X[:, 11]','X[:, 12]','X[:, 13]','X[:, 14]','X[:, 15]','X[:, 16]', 'y'))
print('-'*24)
for i in range(100):
    print('{:8.0f}{:8.0f}{:8.0f}{:8.0f}{:8.0f}{:8.0f}'.format(X[i, 0], X[i, 1],X[i, 2],X[i, 3],X[i, 4],X[i, 5],X[i, 6], y[i]))

Tamaño de etiquetas: 11934
  X[:,0] X[:, 1] X[:, 2] X[:, 3] X[:, 4] X[:, 5] X[:, 6] X[:, 7] X[:, 8] X[:, 9]X[:, 10]X[:, 11]X[:, 12]X[:, 13]X[:, 14]X[:, 15]X[:, 16]       y
------------------------
       1       1       6       1       7       0
       1       1       7       1      11       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       3       1      13       1      36       1
       3       1      16       1      46       1
       4       1      19       1      62       1
       4       1      23       1      93       2
       1       1       6       1       4       0
       1       1       7       1      13       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       3       1      13       1      36       1
       3       1      16       1      46       1
       4       1      19       1      62       1
       4       1      23       1      92       2
       1       1       6       1       0       0
       1       1       7       1      13       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       3       1      13       1      36       1
       3       1      16       1      46       1
       4       1      19       1      62       1
       4       1      23       1      92       2
       1       1       6       1       0       0
       1       1       7       1      15       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      36       1
       3       1      16       1      46       1
       4       1      19       1      62       1
       4       1      23       1      92       2
       1       1       6       1       0       0
       1       1       7       1      17       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      46       1
       4       1      19       1      62       1
       4       1      23       1      92       2
       1       1       6       1       0       0
       1       1       7       1      16       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      45       1
       4       1      19       1      62       1
       4       1      23       1      92       2
       1       1       7       1       0       0
       1       1       7       1      17       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      45       1
       4       1      19       1      62       1
       4       1      23       1      92       2
       1       1       7       1       0       0
       1       1       7       1      19       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      45       1
       4       1      18       1      62       1
       4       1      23       1      92       2
       1       1       7       1       0       0
       1       1       7       1      19       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      45       1
       4       1      18       1      62       1
       4       1      23       1      92       2
       1       1       7       1       0       0
       1       1       7       1      20       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      45       1
       4       1      18       1      62       1
       4       1      23       1      92       2
       1       1       7       1       0       0
       1       1       7       1      20       0
       1       1       8       1      13       0
       2       1       9       1      18       0
       2       1      11       1      26       1
       2       1      13       1      35       1
       3       1      16       1      45       1
       4       1      18       1      61       1
       4       1      23       1      91       2
       1       1       7       1       5       0

In [ ]:
def featureNormalize(X):
    X_norm = X.copy()
    mu = np.zeros(X.shape[1])
    sigma = np.zeros(X.shape[1])

    mu = np.mean(X, axis=0)
    sigma = np.std(X, axis=0)

    zero_std_indices = np.where(sigma == 0)[0]
    X_norm = np.delete(X_norm, zero_std_indices, axis=1)
    mu = np.delete(mu, zero_std_indices)
    sigma = np.delete(sigma, zero_std_indices)

    X_norm = (X_norm - mu) / sigma

    return X_norm, mu, sigma

Despues de `featureNormalize` la funcion es provada, se añade el temino de interseccion a `X_norm`:

In [ ]:
# Añade el termino de interseccion a X
# (Columna de unos para X0)
X = np.concatenate([np.ones((m, 1)), X_norm], axis=1)

In [ ]:
print(X)

[[ 1.         -1.15878524  1.         ... -1.02569556 -1.14460218
  -1.69841555]
 [ 1.         -0.94214038  1.         ... -0.88955153 -0.74035095
  -1.69841555]
 [ 1.         -0.88867058  1.         ... -0.7954736  -0.79556576
  -1.69841555]
 ...
 [ 1.          0.57990501  1.         ...  0.32750183  0.33830963
   1.69841555]
 [ 1.          1.14410355  1.         ...  0.94514219  0.95947615
   1.69841555]
 [ 1.          2.00791732  1.         ...  2.02883787  2.05391239
   1.69841555]]

In [ ]:
def computeCostMulti(X, y, theta):
    # Inicializa algunos valores utiles
    m = y.shape[0] # numero de ejemplos de entrenamiento

    J = 0

    h = np.dot(X, theta)

    J = (1/(2 * m)) * np.sum(np.square(np.dot(X, theta) - y))

    return J

In [ ]:
def gradientDescentMulti(X, y, theta, alpha, num_iters):

    # Inicializa algunos valores
    m = y.shape[0] # numero de ejemplos de entrenamiento

    # realiza una copia de theta, el cual será acutalizada por el descenso por el gradiente

    theta = theta.copy()

    J_history = []

    for i in range(num_iters):
        theta = theta - (alpha / m) * (np.dot(X, theta) - y).dot(X)
        J_history.append(computeCostMulti(X, y, theta))

    return theta, J_history

In [ ]:
# Elegir algun valor para alpha (probar varias alternativas)
alpha = 0.001 # alpha = 0.003
num_iters = 10000

# inicializa theta y ejecuta el descenso por el gradiente
theta = np.zeros(17)
theta, J_history = gradientDescentMulti(X, y, theta, alpha, num_iters)

# Grafica la convergencia del costo
pyplot.plot(np.arange(len(J_history)), J_history, lw=2)
pyplot.xlabel('Numero de iteraciones')
pyplot.ylabel('Costo J')

# Muestra los resultados del descenso por el gradiente
print('theta calculado por el descenso por el gradiente: {:s}'.format(str(theta)))

# Estimar el precio para una casa de 1650 sq-ft, con 3 dormitorios
X_array = [1.138, 3, 289.964, 1349.489, 6677.38, 7.584, 7.584, 464.006, 288, 550.563, 1.096, 0.998, 5.947, 1.019, 7.137, 0.082,0.95]
X_array[1:17] = (X_array[1:17] - mu) / sigma
price = np.dot(X_array, theta)
# Se debe cambiar esto

print('El precio predecido para una casa de 1650 sq-ft y 3 dormitorios (usando el descenso por el gradiente): ${:.4f}'.format(price))

In [ ]:
X_array = [1.138, 3, 1.138, 1349.489, 6677.38, 7.584, 7.584, 464.006, 288, 550.563, 1.096, 0.998, 0.975, 1.019, 7.137, 0.082, 0.95]
X_array[1:17] = (X_array[1:17] - mu) / sigma

In [ ]:
X_array = [1.138, 3, 1.138, 1349.489, 6677.38, 7.584, 7.584, 464.006, 288, 550.563, 1.096, 0.998, 0.975, 1.019, 7.137, 0.082, 0.95]
X_array[1:17] = (X_array[1:17] - mu) / sigma
price = np.dot(X_array, theta)   # Se debe cambiar esto

print('El precio predecido para una casa de 1650 sq-ft y 3 dormitorios (usando el descenso por el gradiente): ${:.4f}'.format(price))

El precio predecido para una casa de 1650 sq-ft y 3 dormitorios (usando el descenso por el gradiente): $1.0592

In [ ]:
# Cargar datos
data = np.loadtxt('/content/gdrive/MyDrive/SIS420/midataset/Maintenance Naval Vessel.csv', delimiter=',')
X = data[:, :7]
y = data[:, 7]
m = y.size
X = np.concatenate([np.ones((m, 1)), X], axis=1)

In [ ]:
def normalEqn(X, y):
    # Inicializa el vector de parámetros theta con ceros
    theta = np.zeros(X.shape[1])

    # Calcula los parámetros theta utilizando la ecuación normal
    theta = np.dot(np.dot(np.linalg.inv(np.dot(X.T, X)), X.T), y)

    return theta

In [ ]:
# Calcula los parametros con la ecuación de la normal

theta = normalEqn(X, y);

# Muestra los resultados optenidos a partir de la aplicación de la ecuación de la normal
print('Theta calculado a partir de la ecuación de la normal: {:s}'.format(str(theta)));

# Estimar el precio para una casa de superficie de 1650 sq-ft y tres dormitorios

X_array = [1.096, 0.998, 0.947, 1.019, 0.137, 0.082, 0.95,0.975]
price = np.dot(X_array, theta)

print('Precio predecido para una cada de superficie de 1650 sq-ft y 3 dormitorios (usando la ecuación de la normal): ${:.0f}'.format(price))

Theta calculado a partir de la ecuación de la normal: [-4.99833706e+00  3.45471433e-01  9.35530824e+00 -5.19989283e-02
 -3.35833630e+00  1.42029362e-04 -1.31411436e-01 -2.11647854e-02]
Precio predecido para una cada de superficie de 1650 sq-ft y 3 dormitorios (usando la ecuación de la normal): $3